@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Nav */

.nav-bar{
  height:78px;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.nav-bar a{
  text-decoration: none;
}

.nav-bar h2{
  font-size: 35px;
}
.bag{
  position: relative;
}
.cart{
  position: absolute;
}
